@model SavingsApp.Models.Customer

@{
    ViewData["Title"] = "Cuentas de " + Model.Name;
}

<h2>Información del Cliente</h2>

<div class="card mb-4 shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-4"><i class="bi bi-person-circle fs-2"></i> @Model.Name</h5>
        <p class="card-text"><strong>Identificación:</strong> @Model.Identification</p>
        <p class="card-text"><strong>Email:</strong> @Model.Email</p>
        <p class="card-text"><strong>Teléfono:</strong> @Model.PhoneNumber</p>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center mt-lg-5">
    <h2>Cuentas Asociadas</h2>

    <a class="btn btn-primary" asp-asp-controller="Accounts" asp-action="Create">Crear Cuenta</a>
</div>

@if (Model.SavingsAccounts != null && Model.SavingsAccounts.Any())
{
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var account in Model.SavingsAccounts)
        {
            <div class="col">
                <div class="card h-100 border-primary shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Cuenta: @account.AccountNumber</h5>
                        <p class="card-text">
                            <strong>Saldo:</strong> L. @account.Balance.ToString("N2") <br />
                            <strong>ID Cuenta:</strong> @account.Id
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-warning mt-3">
        Este cliente no tiene cuentas asociadas.
    </div>
}